html, body, #root {
    height: 100%;
}

.hero-input {
  background: #000;
  border: solid 1px #000000;
  color:#fff;
  font-size: calc(4vh + 4vw);
  font-weight: bold;
  outline: none;
  text-align: center;
  width: 100%;
}

.hero-input:not([type="date"])::-webkit-input-placeholder {
    color: rgba(255,255,255,0.8);
    font-size: calc(4vh + 4vw);
}

.hero-input:not([type="date"])::-moz-placeholder {
    color: rgba(255,255,255,0.8);
    font-size: calc(4vh + 4vw);
}

.hero-input:not([type="date"]):-ms-input-placeholder {
    color: rgba(255,255,255,0.8);
    font-size: calc(4vh + 4vw);
}