html, body, #root, .routing {
  height: 100%;
}

.hero-input {
  background: #000;
  border: solid 1px #000000;
  color:#fff;
  font-size: calc(4vh + 4vw);
  font-weight: bold;
  outline: none;
  text-align: center;
  width: 100%;
}

.hero-input:not([type="date"])::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
  font-size: calc(4vh + 4vw);
}

.hero-input:not([type="date"])::-moz-placeholder {
  color: rgba(255,255,255,0.8);
  font-size: calc(4vh + 4vw);
}

.hero-input:not([type="date"]):-ms-input-placeholder {
  color: rgba(255,255,255,0.8);
  font-size: calc(4vh + 4vw);
}

.bar {
  display: block;
  margin: auto;
  position: relative;
  width: 60%;
}

.bar:before, .bar:after {
  content: '';
  height: calc(0.25vh + 0.25vw);
  width: 0;
  bottom: calc(-1vh + -1vw);
  position: absolute;
  background: rgba(255, 105, 180, 0.25);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}